<div class="container">
	<div class="card-panel about-container">
		<h4>About</h4>
		Churner.io is a credit card management app targeted at individuals who frequently open and close cards in order to maximize the rewards and sign up bonuses while avoiding fees and interest payments. This is commonly called "Churning",  and you can find more information on the popular <a href="https://www.reddit.com/r/churning">Reddit</a> and <a href="http://www.flyertalk.com/forum/milesbuzz-370/">FlyerTalk</a> communities.

		<h5>Subscriptions:</h5>
		Churner.io will charge each card you add $1 every six months ($2/year). This charge serves two purposes. First, it prevents your card from being automatically closed due to inactivity, and it keeps your miles and other rewards from expiring for the same reason. Second, this small charge funds cloud hosting costs and continued development. I recommend setting up auto pay on each of your cards, so that you never have to worry about missing this small payment.

		<h5>Features:</h5>
		We are always looking for new ideas. For any feature requests please email us at <a href="mailto:features@churner.io">features@churner.io</a>

		<h5>Contributing:</h5>
		If you are interested in contributing to this project please contact me at <a href="mailto:sean@churner.io">sean@churner.io</a> or submit a pull request on <a href="https://github.com/Lingrino/churner">github</a>.

		<h5>Open Source:</h5>
		This entire project is open source and I welcome any contributions. Churner.io also makes use of the following open source projects:
	  <div class="collection" style="max-width: 300px; border: none;">
      <a href="http://materializecss.com/" class="collection-item">Materialize CSS</a>
      <a href="http://purecss.io/" class="collection-item">Pure CSS</a>
      <a href="http://jessepollak.github.io/card/" class="collection-item">Card</a>
    </div>

		<h5>Contact:</h5>
		<div class="row valign-wrapper">
			<div class="col s4">
			<img src="https://s3-us-west-1.amazonaws.com/churner/images/me.png" class="responsive-img circle">
			</div>
			<div class="col s8">
			Churner.io is developed and maintained by Sean Lingren. You can view my <a href="http://srlingren.com/">portfolio</a> and connect with me on <a href="https://github.com/Lingrino">Github</a> or <a href="https://www.linkedin.com/in/srlingren">LinkedIn</a>.
			</div>
		</div>
	</div>
</div>