<div class='container'>
	<div class='auth-container card-panel'>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:class => 'input-field', :method => :post, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <h4>Password Reset</h4>
    <%= f.email_field :email, :autofocus => true, :placeholder => 'Email', :required => true %>
    <button class="btn waves-effect waves-light" type="submit" name="commit">Reset Password</button>
  <% end %>
</div>