@import "logo";

.jp-card-logo.jp-card-discover {
    $orange: #FF6600;
    $offset: 9px;
    background: $orange;
    color: #111;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    padding-top: $offset;
    letter-spacing: .03em;
    border: 1px solid #EEE;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);

    &:before, &:after {
        content: " ";
        display: block;
        position: absolute;
    }

    &:before {
        $size: 200px;
        background: white;
        width: $size;
        height: $size;
        border-radius: $size;
        bottom: -5%;
        right: -50%;
        z-index: -1;
    }

    &:after {
        $size: 10px;
        width: $size;
        height: $size;
        border-radius: $size /2;
        top: $offset;
        left: 35px;
        @include radial-gradient($orange, #fff);
        content: "network";
        font-size: 6px;
        line-height: 27px;
        text-indent: -7px;
    }
}
