$logo-height: 46px;
$logo-width: $logo-height * (60/36);

@include exports("_logo.scss") {
    .jp-card-logo {
        &, &:before, &:after {
            box-sizing: border-box;
        }
        height: $logo-height;
        width: $logo-width;
        font-style: italic;
    }
}
