"Amex - Ameriprise",
"Amex - Blue Cash",
"Amex - Blue Cash Everyday",
"Amex - Blue Cash Preferred",
"Amex - Blue Sky",
"Amex - Blue Sky Preferred",
"Amex - Business Rewards Gold (BRG)",
"Amex - Delta Reserve",
"Amex - Everyday",
"Amex - Everyday Preferred",
"Amex - Gold Delta",
"Amex - Gold Delta Business",
"Amex - HHonors",
"Amex - Hhonors",
"Amex - HHonors Surpass",
"Amex - Hhonors Surpass",
"Amex - Jetblue",
"Amex - Mercedes-Benz",
"Amex - Mercedes-Benz Platinum",
"Amex - Platinum",
"Amex - Platinum Business",
"Amex - Platinum Delta",
"Amex - Platinum Delta Buisiness",
"Amex - Platinum Delta Business",
"Amex - Premier Rewards Gold (PRG)",
"Amex - Premier Rewards Gold (PRG) Business",
"Amex - Starwood (SPG) Business",
"Amex - Starwood Preferred Guest (SPG)",
"Bank of America - Alaska",
"Bank of America - Alaska Business",
"Bank of America - Asiana",
"Bank of America - Asiana Business",
"Bank of America - Bank Americard Cash Rewards",
"Bank of America - Spirit",
"Bank of America - Virgin Atlantic",
"Bank of America - Virgin Atlantic Black Card",
"Bank of America - Virgin Atlantic White Card",
"Barclays - Arrival",
"Barclays - Arrival +",
"Barclays - Frontier",
"Barclays - Frontier Business",
"Barclays - Hawaiian",
"Barclays - Hawaiian Business",
"Barclays - Lufthansa",
"Barclays - Sallie Mae MasterCard",
"Barclays - US Airways",
"Barclays - Wyndham",
"Barclays - Wyndham (AF)",
"Capital One - Quicksilver Rewards",
"Capital One - QuicksilverOne Rewards",
"Capital One - Spark Cash ",
"Capital One - Venture One Rewards",
"Capital One - Venture Rewards",
"Chase - British Airways",
"Chase - Fairmont",
"Chase - Freedom",
"Chase - Hyatt",
"Chase - IHG",
"Chase - Ink Cash",
"Chase - Ink Plus",
"Chase - Marriott",
"Chase - Marriott Business",
"Chase - Ritz Carlton",
"Chase - Sapphire Preferred",
"Chase - South West Plus",
"Chase - South West Premier",
"Chase - South West Premier Business",
"Chase - Southwest Plus",
"Chase - Southwest Premier",
"Chase - Southwest Premier Business",
"Chase - United Club",
"Chase - United Explorer",
"Chase - United Explorer Business",
"Citi - AAdvantage Executive",
"Citi - AAdvantage Gold",
"Citi - AAdvantage Platinum",
"Citi - AAdvantage Platinum Business",
"Citi - Citi Prestige",
"Citi - Expedia+",
"Citi - Expedia+ Voyager",
"Citi - Hilton Reserve",
"Citi - Hilton Visa",
"Citi - Thankyou Preferred",
"Citi - Thankyou Preferred Student",
"Citi - Thankyou Premier",
"Comenity Capital - Virgin America",
"Comenity Capital - Virgin America Premium",
"Discover - Discover It",
"Discover - Discover It Miles",
"TD bank - Aeroplan",
"US Bank - Club Carlson",
"US Bank - Club Carlson Business",
"US Bank - Club Carlson Premier",
"US Bank - Club Carlson Rewards",
"US Bank - FlexPerks Select (Visa)",
"US Bank - FlexPerks Select+",
"US Bank - FlexPerks Select+ (Amex)",
"US Bank - FlexPerks Travel Rewards (Amex)",
"US Bank - FlexPerks Travel Rewards (Visa Sig)",
"US Bank - FlexPerks Travel Rewards (Visa)",
"Wal-Mart - Walmart Credit Card",
"Wells Fargo - Wells Fargo Propel 365",
"Wells Fargo - Wells Fargo Propel World"