// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Div to hold css credit card
.card-ccholder {
  align: center;
  margin: 8% auto;
}

// Delete card link on show card page
.delete-card-link {
  color: $churner-red !important;
  float: right !important;
  margin-right: 10px !important;
}

// Table row style for show card page
.card-content tr {
  line-height: 10px;
}

// Align notes section with table
.notes {
  padding-left: 5px;
}

// Above 500px width styling
@media (min-width: 500px) {
  .pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .c-box {
    padding: 1em;
  }
  .card-ccholder {
    width: $card-width;
  }
}

// Below 500px width styling
// Prevents side scrolling small devices by
// sclaing the card down. Check the jp_card.scss
// file for actual card styling. This file styles
// the card containers and pages that show cards.
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .card-ccholder {
    max-width: $card-width;
    min-width: 320px;
  }
}