// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Div to hold css credit card
.card-ccholder {
  width: $card-width;
  max-width: 95%;
  min-width: 400px;
  margin-top: 10%;
  align: center;
  margin: 8% auto;
}

// Delete card link on show card page
.delete-card-link {
  color: $churner-red !important;
  float: right !important;
  margin-right: 10px !important;
}

// Table row style for show card page
.card-content tr {
  line-height: 10px;
}

// Align notes section with table
.notes {
  padding-left: 5px;
}