.button-success,
.button-delete,
.button-warning,
.button-add-card {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: #61E786;
}

.button-delete {
  background: #E03616;
}

.button-warning {
  background: #FFA654;
}

.button-add-card {
  background: #449DDC;
  border-radius: 0px;
}